
.html5 {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: green;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
}
.draggable {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
}
.temp1 {
    width: 100px;
    height: 100px;
    margin: 1rem 0 0 1rem;
    border-radius: 50%;
    background-color: steelblue;
}
.dropzone {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    border-style: dotted;
}


