@page "/draganddrop"
@using Microsoft.JSInterop
@inject IJSRuntime JS;

<h3>DragAndDrop</h3>




<div class="main" width="500px" height="500px">
    <div class="html5"><center>First Drag</center></div>
    <div class="draggable"><center>Draggable Element</center></div>
    <div class="temp1"> </div>
    
    <div class="dropzone"><center>DropZone</center></div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dragAndDrop", ".html5");
        await JS.InvokeVoidAsync("dragAndDrop", ".draggable");
        await JS.InvokeVoidAsync("dragAndDrop", ".temp1");

        await JS.InvokeVoidAsync("dropZone", ".dropzone");
    }
}
