@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EWeT - Register</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css">
    <script src="js/bootstrap.min.js"></script>
</head>

<body style="background-image: url('/images/Loginbg.png'); background-size: cover; background-repeat: repeat-x;">
    <div class="container">
        <section class="background-radial-gradient overflow-hidden">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(220, 83%, 46%)">
                        EWeT Signup <br />
                        <span style="color: hsl(218, 81%, 75%)">For E-Mail Template</span>
                    </h1>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="text-center">
                                    <img src="~/images/Logo-Yan.png" alt="Logo" class="img-fluid mb-5" width="150">

                                </div>
                                <h2>Create a new account.</h2>
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.Password"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>