@using BlazorDeneme.Data
@inherits LayoutComponentBase

<PageTitle>BlazorDeneme</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="Index.html" target="_blank">Exit</a>
        </div>
        


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
